@import '~@ionic/vue/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/vue/css/normalize.css';
@import '~@ionic/vue/css/structure.css';
@import '~@ionic/vue/css/typography.css';
@import '~@ionic/vue/css/flex-utils.css';

.gl-list {
  position: relative;
  margin-bottom: 20px;

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    min-height: 50px;
    min-width: 0;
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  padding: 0 24px 0 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  border: none;
  appearance: none;
  margin: 0;
  border-radius: 0;
  background-color: transparent;

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: #d9d9d9 !important;
    cursor: not-allowed;
  }
}

textarea {
  height: auto;
}
