@import "./mixins";

.gl-loading {
  .fixed-fullscreen();
  transition: opacity .1s ease-in-out;
  &-container {
    .position-center();
    display: inline-block;
    padding: 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  &-spinner svg {
    width: 28px;
    height: 28px;
    stroke: #FFF;
    fill: #FFF;
  }

  &-tip {
    font-size: 14px;
    line-height: 14px;
    color: white;
  }
}

